extends ../layout/index

block content
    div.py-10
        h1.text-center.my10.font-extrabold.text-4xl Bienes 
            span.font-normal raices
        h2.text-center.text-2xl.font-extrabold= pagina
        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold tu email
                            input.form-input.w-full.py-2.px-3.border.border-gray-300.rounded-md.mb-4(placeholder="Tu Email" type="email" name="email")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold password
                            input.form-input.w-full.py-2.px-3.border.border-gray-300.rounded-md.mb-4(placeholder="Tu Password" type="password" name="password")
                    div.flex.item-center.justify-between.pb-4
                        a.text-gray-500.text-xs(href="/auth/register") Registrate
                        a.text-gray-500.text-xs(href="/auth/recover") Olvide mi contraseña
                    input(type="submit" value="Crear Cuenta").cursor-pointer.bg-blue-500.p-2.border-2.border-blue-500.text-white.rounded-md.w-full.cursor-pointer   